$colorHuno: #a57667;

.indexTitulo{
    color:$colorHuno ;
}

//formulario 



.formularioAdopcion{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 2em;
    border: #7daa7b solid;
    margin: auto;
    font-family: 'Baskervville', serif;

.sectionContacto{
    display: flex;
    background-color: white;
    justify-content: center;
    justify-content: space-evenly;
    padding: 2em;
    border-top: #7daa7b solid;
    margin:  50px auto;

}

  .experiencia{
	display: flex;
	box-sizing: border-box;
    font-family: 'Baskervville', serif;
    
	padding: 3.5em;
	font-size: 1em;
  }

  .contactoFormulario {
    
	max-width: 1208px;
	max-width: 30.5rem;
	color: #a57667;
  }
  .contactoFormularioDos {
    
	max-width: 1208px;
	max-width: 30.5rem;
	color: #a57667;
  }

  .contacto, label, input[name="submit"] {
	position: relative;
  }

  
  label > span, input, textarea, button {
	box-sizing: border-box;
    font-family: 'Baskervville', serif;
  }


  input, textarea, button {
	width: 100%;
	padding: 0.5em;
	border: none;
	
  }

  input[type="text"], input[type="email"], textarea , input[type="DNI"] , input[type="Telefono de contacto"]{
    
	margin: 0 0 1em;
	border: 1px solid #ccc;
	outline: none;
    font-family: 'Baskervville', serif;
    color: #a57667;

  }

  input.invalid, textarea.invalid {
	border-color: #d5144d;
  }
  textarea {
	height: 6em;
  }
  input[type="submit"], button {
    transition: all .5s;
	background: #a57667;;
	color: #333;
  }

  input[type="submit"]:hover, button:hover {
	background: #7daa7b;
  }

}


.sectionContacto{
    display: flex;
    background-color: white;
    justify-content: center;
    justify-content: space-evenly;
    padding: 2em;
    border-top: #7daa7b solid;
    margin:  50px auto;
    .contactoFormulario {
    
        max-width: 1208px;
        max-width: 30.5rem;
        color: #a57667;
      }
      .experiencia{
        display: flex;
        box-sizing: border-box;
        font-family: 'Baskervville', serif;
        
        padding: 3.5em;
        font-size: 1em;
      }
      .contacto, label, input[name="submit"] {
        position: relative;
      }
    
      
      label > span, input, textarea, button {
        box-sizing: border-box;
        font-family: 'Baskervville', serif;
      }
    
    
      input, textarea, button {
        width: 100%;
        padding: 0.5em;
        border: none;
        
      }
    
      input[type="text"], input[type="email"], textarea , input[type="DNI"] , input[type="Telefono de contacto"]{
        
        margin: 0 0 1em;
        border: 1px solid #ccc;
        outline: none;
        font-family: 'Baskervville', serif;
        color: #a57667;
    
      }
    
      input.invalid, textarea.invalid {
        border-color: #d5144d;
      }
      textarea {
        height: 6em;
      }
      input[type="submit"], button {
        transition: all .5s;
        background: #a57667;;
        color: #333;
      }
    
      input[type="submit"]:hover, button:hover {
        background: #7daa7b;
      }
    

}
  
//formulario 
  
  

  

  
 
  




 
